<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard v1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <div class="headerDiv">
        Header
    </div>

    <div class="sidebarDiv">
        SideBar
    </div>

    <div class="contentDiv">
        
        <div class="searchDiv">
            Search
        </div>

        <div class="searchDiv">
            Group Cards
        </div>

        <div>
            Top Reports
        </div>

        <div>
            My Reports
        </div>
    </div>



</body>

</html>