<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <style>
    .box {
      background: #464646;
      color: #fff;
      padding: 20px;
    }
  </style>

  <div class="container-fluid">
    <div class="row">
      <div class="col box">
        <div class="child" style="overflow:scroll">
          <div class="g-child" style="width:2000px">
            Left
          </div>

        </div>
      </div>
      <div class="col-auto box">2</div>
    </div>
  </div>



</body>

</html>