
<style>

.b-form-element {
    margin: 15px 0px;
}

.b-input-label {
    font-size: 14px;
    color: #aaa;
}

input.b-input {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #aaa;
    background: transparent;
    color: #fff;
    outline: none;
    font-family: 'Oswald', sans-serif;
}

</style>

<div class="b-form-element">
    <div class="b-input-label">
        {{label}}
    </div>
    <div>
        <input class="b-input" type="" name="" value="" >
    </div>
</div>
